@font-face {
    font-family: Tomatoes;
    src: url(font/Tomatoes-O8L8.ttf);
}
@font-face {
    font-family: Playfair;
    src: url(font/PlayfairDisplay-Regular.ttf);
}
body, header, main, footer{ 
    margin: 0;
    padding: 0;
}
body{
    font-family: Playfair, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* header */
header{
    background-image: url(image/banner-2.jpg);
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h3 {
    color: #ffffff;
    font-family: Tomatoes, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 4%;
    font-size: 2rem;
}

#menu-list, #close-button  {
    display: none;
}

#burger-menu{
    display: flex;
    margin-right: 1%;
}

@keyframes FadeIn {
	0% {
		opacity: 0;
		transform: translateX(40px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes FadeOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(40px);
        display: none;
	}
    
}

#menu-list{
    list-style-type: none;
    animation: FadeIn 1.5s ease 0s 1 normal forwards;
    animation-play-state: paused;
}

#menu-list > li{
    margin: 10px;
}

#menu-list > li > a {
    text-decoration: none;
    color: #ffffff;
}

/* section presentation */

#presentation-section{
    background-color: #040732;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#photo-presentation{
    width: 20%;
    margin: 1%;
}

#photo-presentation > img { 
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(44, 70, 193, 0.7), 0 6px 20px 0 rgba(44, 70, 193, 0.7);
    /* border: 10px solid rgba(44, 70, 193, 1); */
}

#text-presentation{
    padding : 2%;
    color: #b1ccf7;
    width: 70%;
}

#text-presentation > h1{
    font-family:Tomatoes, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    color: #ffffff;
}

h2{
    text-align: center;
}

q{
    font-style: italic;
}
#social-medias{
    text-align: end;
}

#social-medias > a {
    text-decoration: none;
}

#quote{
    background-color: rgba(44, 70, 193, 0.1);
    border-radius: 10%;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#quote > p{
   text-align: end;
   margin: 0;
}

/* Barre de technologie */

#techno-section {
    background-color: #0b1366;
    position: relative;
    display: flex;
    flex-direction: column;
}
#techno-logo{
    display: flex;
    justify-content: space-around;
    
}

#techno-logo > div {
    margin-top: 1%;
    margin-bottom: 1%;
}

h5{
    color : #ffffff;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
/* Cercle de projection */

#techno-progress-bar{
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 204, 247 , 0.3);
}
.box{
    height: 90px;
    width: 90px;
}
.test{
    height: 100%;
    width: 100%;
    
    
}
.test circle{
    fill: none;
    stroke: #040732;
    stroke-width: 10px;
    translate:8px 4px;
    stroke-dasharray: 218;
    stroke-dashoffset: 218;
    stroke-linecap: round;
    
    
}
/* le strole correspond au périmètre du cercle pi * 2 * r */


.test circle:nth-child(1){
    stroke: rgba(196, 196, 196, 0.8);
    stroke-dashoffset: 0;
} 

.test circle:nth-child(2){
    animation : middle 2s forwards;
}

 @keyframes middle{
    to {
        stroke-dashoffset: var(--strokeVar);
    }
} 




/* Section Projet */
#project-section{
    background-color: #040732;
    height: 100px;
    width: 100%;
}




  